In [1]:
import pandas as pd

In [3]:
# Load the dataset into a Pandas DataFrame
df = pd.read_csv('Sales.csv')

In [4]:
# Display the first few rows of the dataset
print(df.head())

       Date  Day     Month  Year  Customer_Age       Age_Group  \
0  26/11/13   26  November  2013            19     Youth (<25)
1  26/11/15   26  November  2015            19     Youth (<25)
2  23/03/14   23     March  2014            49  Adults (35-64)
3  23/03/16   23     March  2016            49  Adults (35-64)
4  15/05/14   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

In [5]:
# Data Cleaning and Preprocessing
# 1. Convert the 'Date' column to a datetime object
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')

In [6]:
# 2. Remove duplicate rows
df = df.drop_duplicates()

In [7]:
# 3. Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [8]:
# Analysis
# 4. Total Revenue and Profit Analysis by Year
yearly_summary = df.groupby('Year')[['Revenue', 'Profit']].sum()
print(yearly_summary)

       Revenue   Profit
Year
2011   8951966  2877185
2012   9133795  2938519
2013  15117327  5912432
2014  14040192  5818522
2015  19945703  7497361
2016  17637789  7002220

In [9]:
# 5. Sales by Age Group and Gender
sales_by_age_gender = df.groupby(['Age_Group', 'Customer_Gender'])['Revenue'].sum().unstack()
print(sales_by_age_gender)

Customer_Gender              F         M
Age_Group
Adults (35-64)        21159786  21207395
Seniors (64+)           129891    177179
Young Adults (25-34)  15075353  15391679
Youth (<25)            5329659   6355830

In [10]:
# 6. Most Profitable Products
top_profitable_products = df.groupby('Product')['Profit'].sum().nlargest(5)
print(top_profitable_products)

Product
Mountain-200 Black, 38     1302237
Road-150 Red, 62           1237388
Mountain-200 Silver, 42    1226878
Sport-100 Helmet, Red      1191175
Mountain-200 Silver, 38    1155311
Name: Profit, dtype: int64

In [11]:
# 7. Average Order Quantity by Country and State
avg_order_quantity = df.groupby(['Country', 'State'])['Order_Quantity'].mean()
print(avg_order_quantity)

Country         State
Australia       New South Wales        11.142164
                Queensland             11.012942
                South Australia        10.070277
                Tasmania               11.103734
                Victoria               10.994140
Canada          Alberta                10.482143
                British Columbia       13.569567
                Ontario                19.333333
France          Charente-Maritime      11.013605
                Essonne                11.924873
                Garonne (Haute)        11.565217
                Hauts de Seine         11.728119
                Loir et Cher           12.308333
                Loiret                 11.273684
                Moselle                10.838542
                Nord                   11.464048
                Pas de Calais          13.422222
                Seine (Paris)          11.755076
                Seine Saint Denis      11.922434
                Seine et Marne         11.294872
                Somme                  12.353383
                Val d'Oise             12.526515
                Val de Marne           13.356688
                Yveline                11.416755
Germany         Bayern                 10.927311
                Brandenburg            11.538071
                Hamburg                11.098018
                Hessen                 11.073418
                Nordrhein-Westfalen    12.027497
                Saarland               11.204067
United Kingdom  England                11.550423
United States   Alabama                26.250000
                Arizona                 1.750000
                California             12.043834
                Florida                 8.928571
                Georgia                14.000000
                Illinois               10.678571
                Kentucky               13.000000
                Massachusetts           1.000000
                Minnesota              21.833333
                Mississippi            22.750000
                Missouri               11.000000
                Montana                20.333333
                New York               13.800000
                North Carolina         15.750000
                Ohio                   20.428571
                Oregon                 12.686047
                South Carolina         11.700000
                Texas                  11.000000
                Utah                   12.600000
                Virginia               15.750000
                Washington             12.257701
                Wyoming                10.500000
Name: Order_Quantity, dtype: float64

In [12]:
# 8. Monthly Sales Trend
monthly_sales_trend = df.groupby(['Year', 'Month'])['Revenue'].sum()
print(monthly_sales_trend)

Year  Month
2011  April        698782
      August       880037
      December    1132666
      February     635179
      January      675193
                   ...
2016  January     2535084
      July         498424
      June        3568945
      March       2600455
      May         3249980
Name: Revenue, Length: 62, dtype: int64

In [13]:
# 9. Product Category Sales Distribution for a Specific Year
year = 2015
category_sales_distribution = df[df['Year'] == year].groupby('Product_Category')['Revenue'].sum()
category_sales_distribution /= category_sales_distribution.sum()  # Calculate percentage
print(category_sales_distribution)

Product_Category
Accessories    0.163724
Bikes          0.739117
Clothing       0.097159
Name: Revenue, dtype: float64

In [14]:
# 10. Total Sales by Sub-Category for a Specific Product Category
product_category = 'Accessories'
sub_category_sales = df[df['Product_Category'] == product_category].groupby('Sub_Category')['Revenue'].sum()
print(sub_category_sales)

Sub_Category
Bike Racks            517800
Bike Stands           342830
Bottles and Cages    1390570
Cleaners              198821
Fenders              1245733
Helmets              5738482
Hydration Packs       990406
Tires and Tubes      4598124
Name: Revenue, dtype: int64

In [15]:
# Export the updated DataFrame to a new CSV file
df.to_csv('UpdatedSale.csv', index=False)